# Neural Network - Days to Death (DDT)

This ML model predicts days from admission to death for the patients in the MIMIC dataset who expired

In [1]:
import pandas as pd
import numpy as np
import os
import tensorflow as tf
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense

Using TensorFlow backend.

# Data Setup
Creates separate clean dataframes for both sets of patients - lived & died

In [2]:
labs = pd.read_csv('../Resources/labsNew.csv')
labs.head()

,SUBJECT_ID,HADM_ID,Albumin,Anion Gap,Bicarbonate,"Bilirubin, Total",Chloride,"Chloride, Whole Blood",Creatinine,Glucose_Blood_Gas,...,PT,PTT,Phosphate,Platelet Count,Potassium,"Potassium, Whole Blood",Sodium,"Sodium, Whole Blood",Urea Nitrogen,White Blood Cells
0,2,163353.0,0.0,0.0,0.0,9.3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.1
1,3,145834.0,1.8,17.0,25.0,0.8,99.0,114.0,3.2,265.0,...,14.8,125.7,4.8,179.0,5.4,3.7,136.0,139.0,36.0,15.1
2,4,185777.0,2.8,17.0,24.0,2.2,97.0,0.0,0.5,0.0,...,12.3,31.3,3.2,207.0,3.1,0.0,135.0,0.0,9.0,9.7
3,5,178980.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,309.0,0.0,0.0,0.0,0.0,0.0,13.9
4,6,107064.0,2.7,17.0,16.0,0.2,107.0,95.0,3.5,106.0,...,12.5,55.2,4.1,198.0,4.9,4.2,135.0,135.0,86.0,22.7

In [3]:
died = pd.read_csv('../Resources/admissions_died.csv')
died.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,DAYS_TO_DEATH
0,30,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,STATUS EPILEPTICUS,1,1,7.647917
1,55,56,181711,2104-01-02 02:01:00,2104-01-08 10:30:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,NOT SPECIFIED,NaN,WHITE,2104-01-01 23:59:00,2104-01-02 03:33:00,HEAD BLEED,1,1,6.353472
2,61,61,189535,2119-01-04 18:12:00,2119-02-03 01:35:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Private,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,NON-HODGKINS LYMPHOMA;FEBRILE;NEUTROPENIA,1,1,29.307639
3,68,67,155252,2157-12-02 00:45:00,2157-12-02 03:55:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,JEWISH,SINGLE,WHITE,2157-12-01 20:45:00,2157-12-02 00:55:00,SUBARACHNOID HEMORRHAGE,1,1,0.131944
4,86,84,166401,2196-04-14 04:02:00,2196-04-17 13:42:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Private,NaN,OTHER,MARRIED,WHITE,2196-04-13 22:23:00,2196-04-14 04:31:00,"GLIOBLASTOMA,NAUSEA",1,1,3.402778

In [4]:
died_df = pd.merge(died, labs, on='HADM_ID')
died_df.head()

,ROW_ID,SUBJECT_ID_x,HADM_ID,ADMITTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,...,PT,PTT,Phosphate,Platelet Count,Potassium,"Potassium, Whole Blood",Sodium,"Sodium, Whole Blood",Urea Nitrogen,White Blood Cells
0,30,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,...,13.2,29.4,2.7,109.0,3.3,4.2,128.0,0.0,13.0,6.9
1,55,56,181711,2104-01-02 02:01:00,2104-01-08 10:30:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,...,13.0,27.0,3.9,210.0,4.0,3.4,128.0,138.0,21.0,10.0
2,61,61,189535,2119-01-04 18:12:00,2119-02-03 01:35:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Private,NaN,...,11.1,28.7,2.7,21.0,3.3,0.0,139.0,0.0,17.0,0.1
3,68,67,155252,2157-12-02 00:45:00,2157-12-02 03:55:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,...,13.2,35.5,0.0,183.0,5.1,0.0,137.0,0.0,24.0,9.3
4,86,84,166401,2196-04-14 04:02:00,2196-04-17 13:42:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Private,NaN,...,0.0,0.0,3.4,231.0,2.5,0.0,127.0,0.0,6.0,11.6

In [5]:
died_df.columns

Index(['ROW_ID', 'SUBJECT_ID_x', 'HADM_ID', 'ADMITTIME', 'DEATHTIME',
       'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'DISCHARGE_LOCATION',
       'INSURANCE', 'LANGUAGE', 'RELIGION', 'MARITAL_STATUS', 'ETHNICITY',
       'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG',
       'HAS_CHARTEVENTS_DATA', 'DAYS_TO_DEATH', 'SUBJECT_ID_y', 'Albumin',
       'Anion Gap', 'Bicarbonate', 'Bilirubin, Total', 'Chloride',
       'Chloride, Whole Blood', 'Creatinine', 'Glucose_Blood_Gas',
       'Glucose_Chemistry', 'Hematocrit', 'Hematocrit, Calculated',
       'Hemoglobin_Blood_Gas', 'Hemoglobin_Hematology', 'INR(PT)', 'Lactate',
       'Magnesium', 'PT', 'PTT', 'Phosphate', 'Platelet Count', 'Potassium',
       'Potassium, Whole Blood', 'Sodium', 'Sodium, Whole Blood',
       'Urea Nitrogen', 'White Blood Cells'],
      dtype='object')

In [6]:
died_df = died_df.drop(['ROW_ID', 'SUBJECT_ID_x', 'SUBJECT_ID_y', 'HADM_ID', 'ADMITTIME', 'DEATHTIME', 'DISCHARGE_LOCATION',
                         'RELIGION', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'HOSPITAL_EXPIRE_FLAG',
       'HAS_CHARTEVENTS_DATA', 'LANGUAGE'], axis = 1)

In [7]:
#died_df_dummy = pd.get_dummies(died_df)

died_df = died_df[['DAYS_TO_DEATH', 'Chloride, Whole Blood','Glucose_Chemistry', 'Hematocrit, Calculated', 'Hemoglobin_Blood_Gas','Lactate', 'Potassium, Whole Blood', 
         'Sodium, Whole Blood', 'Anion Gap', 'Albumin','Bicarbonate', 'Bilirubin, Total', 'Creatinine', 'Chloride', 
         'Glucose_Blood_Gas', 'Magnesium','Phosphate', 'Potassium', 'Sodium', 'Urea Nitrogen', 'Hematocrit', 'Hemoglobin_Hematology',
         'Platelet Count', 'PTT', 'INR(PT)', 'PT', 'White Blood Cells']]

died_df.head()

,DAYS_TO_DEATH,"Chloride, Whole Blood",Glucose_Chemistry,"Hematocrit, Calculated",Hemoglobin_Blood_Gas,Lactate,"Potassium, Whole Blood","Sodium, Whole Blood",Anion Gap,Albumin,...,Potassium,Sodium,Urea Nitrogen,Hematocrit,Hemoglobin_Hematology,Platelet Count,PTT,INR(PT),PT,White Blood Cells
0,7.647917,0.0,110.0,0.0,0.0,1.4,4.2,0.0,9.0,2.7,...,3.3,128.0,13.0,30.0,10.6,109.0,29.4,1.2,13.2,6.9
1,6.353472,0.0,155.0,0.0,0.0,0.0,3.4,138.0,14.0,3.2,...,4.0,128.0,21.0,27.0,8.6,210.0,27.0,1.1,13.0,10.0
2,29.307639,0.0,98.0,0.0,0.0,2.7,0.0,0.0,9.0,3.0,...,3.3,139.0,17.0,24.0,8.6,21.0,28.7,0.8,11.1,0.1
3,0.131944,0.0,176.0,0.0,0.0,0.0,0.0,0.0,22.0,0.0,...,5.1,137.0,24.0,54.1,18.4,183.0,35.5,1.2,13.2,9.3
4,3.402778,0.0,119.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,...,2.5,127.0,6.0,35.1,12.5,231.0,0.0,0.0,0.0,11.6

In [8]:
# assignment and reshaping of DIED data
data = died_df.drop(["DAYS_TO_DEATH"], axis=1)
target = died_df["DAYS_TO_DEATH"].values.reshape(-1, 1)

from keras.utils import to_categorical
target_binary = to_categorical(target)

print(f"data shape: {data.shape}")
print(f"target shape: {target.shape}")

data shape: (5818, 26)
target shape: (5818, 1)

# Days to Death Model

In [9]:
# Create test and train data and scale the data sets

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

X_train, X_test, y_train, y_test = train_test_split(data, target_binary, random_state=2)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
#from keras.utils import to_categorical
#y_train_binary = to_categorical(y_train)
#y_test_binary = to_categorical(y_test)

In [11]:
# Construct the NN

model = Sequential()
model.add(Dense(units=116, activation='relu', input_dim=26))
model.add(Dense(units=116, activation='relu'))
model.add(Dense(units=207, activation='softmax'))

In [12]:
# Run the NN

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train,
    epochs=250,
    shuffle=True,
    verbose=2
)

Epoch 1/250
 - 2s - loss: 3.5636 - acc: 0.1488
Epoch 2/250
 - 1s - loss: 3.0695 - acc: 0.1710
Epoch 3/250
 - 1s - loss: 3.0106 - acc: 0.1822
Epoch 4/250
 - 1s - loss: 2.9608 - acc: 0.1815
Epoch 5/250
 - 1s - loss: 2.9185 - acc: 0.1914
Epoch 6/250
 - 1s - loss: 2.8755 - acc: 0.1939
Epoch 7/250
 - 1s - loss: 2.8322 - acc: 0.2019
Epoch 8/250
 - 1s - loss: 2.7907 - acc: 0.2136
Epoch 9/250
 - 1s - loss: 2.7592 - acc: 0.2148
Epoch 10/250
 - 1s - loss: 2.7092 - acc: 0.2226
Epoch 11/250
 - 1s - loss: 2.6731 - acc: 0.2262
Epoch 12/250
 - 1s - loss: 2.6310 - acc: 0.2409
Epoch 13/250
 - 1s - loss: 2.5965 - acc: 0.2457
Epoch 14/250
 - 1s - loss: 2.5528 - acc: 0.2560
Epoch 15/250
 - 1s - loss: 2.5129 - acc: 0.2721
Epoch 16/250
 - 1s - loss: 2.4815 - acc: 0.2764
Epoch 17/250
 - 1s - loss: 2.4415 - acc: 0.2817
Epoch 18/250
 - 1s - loss: 2.4041 - acc: 0.2970
Epoch 19/250
 - 1s - loss: 2.3649 - acc: 0.3055
Epoch 20/250
 - 1s - loss: 2.3368 - acc: 0.3106
Epoch 21/250
 - 1s - loss: 2.3068 - acc: 0.3152
Epoch 22/250
 - 1s - loss: 2.2713 - acc: 0.3278
Epoch 23/250
 - 1s - loss: 2.2380 - acc: 0.3392
Epoch 24/250
 - 1s - loss: 2.2021 - acc: 0.3431
Epoch 25/250
 - 1s - loss: 2.1740 - acc: 0.3537
Epoch 26/250
 - 1s - loss: 2.1446 - acc: 0.3603
Epoch 27/250
 - 1s - loss: 2.1110 - acc: 0.3725
Epoch 28/250
 - 1s - loss: 2.0844 - acc: 0.3812
Epoch 29/250
 - 1s - loss: 2.0531 - acc: 0.3830
Epoch 30/250
 - 1s - loss: 2.0250 - acc: 0.3860
Epoch 31/250
 - 1s - loss: 2.0006 - acc: 0.3970
Epoch 32/250
 - 1s - loss: 1.9727 - acc: 0.4098
Epoch 33/250
 - 1s - loss: 1.9392 - acc: 0.4204
Epoch 34/250
 - 1s - loss: 1.9194 - acc: 0.4204
Epoch 35/250
 - 1s - loss: 1.8974 - acc: 0.4265
Epoch 36/250
 - 1s - loss: 1.8609 - acc: 0.4350
Epoch 37/250
 - 1s - loss: 1.8419 - acc: 0.4444
Epoch 38/250
 - 1s - loss: 1.8175 - acc: 0.4501
Epoch 39/250
 - 1s - loss: 1.7918 - acc: 0.4582
Epoch 40/250
 - 1s - loss: 1.7599 - acc: 0.4676
Epoch 41/250
 - 1s - loss: 1.7404 - acc: 0.4687
Epoch 42/250
 - 1s - loss: 1.7198 - acc: 0.4859
Epoch 43/250
 - 1s - loss: 1.6879 - acc: 0.4914
Epoch 44/250
 - 1s - loss: 1.6713 - acc: 0.4907
Epoch 45/250
 - 1s - loss: 1.6413 - acc: 0.5054
Epoch 46/250
 - 1s - loss: 1.6274 - acc: 0.5074
Epoch 47/250
 - 1s - loss: 1.6031 - acc: 0.5102
Epoch 48/250
 - 1s - loss: 1.5753 - acc: 0.5210
Epoch 49/250
 - 1s - loss: 1.5601 - acc: 0.5272
Epoch 50/250
 - 1s - loss: 1.5435 - acc: 0.5345
Epoch 51/250
 - 1s - loss: 1.5189 - acc: 0.5464
Epoch 52/250
 - 1s - loss: 1.4896 - acc: 0.5455
Epoch 53/250
 - 1s - loss: 1.4759 - acc: 0.5524
Epoch 54/250
 - 1s - loss: 1.4631 - acc: 0.5625
Epoch 55/250
 - 1s - loss: 1.4404 - acc: 0.5625
Epoch 56/250
 - 1s - loss: 1.4138 - acc: 0.5813
Epoch 57/250
 - 1s - loss: 1.3970 - acc: 0.5796
Epoch 58/250
 - 1s - loss: 1.3799 - acc: 0.5858
Epoch 59/250
 - 1s - loss: 1.3641 - acc: 0.5870
Epoch 60/250
 - 1s - loss: 1.3416 - acc: 0.5980
Epoch 61/250
 - 1s - loss: 1.3298 - acc: 0.5978
Epoch 62/250
 - 1s - loss: 1.3038 - acc: 0.6129
Epoch 63/250
 - 1s - loss: 1.2946 - acc: 0.6088
Epoch 64/250
 - 1s - loss: 1.2726 - acc: 0.6204
Epoch 65/250
 - 1s - loss: 1.2601 - acc: 0.6266
Epoch 66/250
 - 1s - loss: 1.2392 - acc: 0.6262
Epoch 67/250
 - 1s - loss: 1.2267 - acc: 0.6294
Epoch 68/250
 - 1s - loss: 1.2128 - acc: 0.6282
Epoch 69/250
 - 1s - loss: 1.1980 - acc: 0.6420
Epoch 70/250
 - 1s - loss: 1.1724 - acc: 0.6500
Epoch 71/250
 - 1s - loss: 1.1595 - acc: 0.6569
Epoch 72/250
 - 1s - loss: 1.1411 - acc: 0.6551
Epoch 73/250
 - 1s - loss: 1.1262 - acc: 0.6585
Epoch 74/250
 - 1s - loss: 1.1052 - acc: 0.6743
Epoch 75/250
 - 1s - loss: 1.1022 - acc: 0.6688
Epoch 76/250
 - 1s - loss: 1.0716 - acc: 0.6752
Epoch 77/250
 - 1s - loss: 1.0710 - acc: 0.6842
Epoch 78/250
 - 1s - loss: 1.0440 - acc: 0.6988
Epoch 79/250
 - 1s - loss: 1.0336 - acc: 0.6968
Epoch 80/250
 - 1s - loss: 1.0202 - acc: 0.6961
Epoch 81/250
 - 1s - loss: 1.0057 - acc: 0.7016
Epoch 82/250
 - 1s - loss: 0.9885 - acc: 0.7082
Epoch 83/250
 - 1s - loss: 0.9827 - acc: 0.7107
Epoch 84/250
 - 1s - loss: 0.9673 - acc: 0.7213
Epoch 85/250
 - 1s - loss: 0.9518 - acc: 0.7229
Epoch 86/250
 - 1s - loss: 0.9327 - acc: 0.7346
Epoch 87/250
 - 1s - loss: 0.9283 - acc: 0.7321
Epoch 88/250
 - 1s - loss: 0.9082 - acc: 0.7325
Epoch 89/250
 - 1s - loss: 0.9064 - acc: 0.7273
Epoch 90/250
 - 1s - loss: 0.8893 - acc: 0.7401
Epoch 91/250
 - 1s - loss: 0.8796 - acc: 0.7470
Epoch 92/250
 - 1s - loss: 0.8570 - acc: 0.7527
Epoch 93/250
 - 1s - loss: 0.8578 - acc: 0.7479
Epoch 94/250
 - 1s - loss: 0.8356 - acc: 0.7573
Epoch 95/250
 - 1s - loss: 0.8242 - acc: 0.7660
Epoch 96/250
 - 1s - loss: 0.8134 - acc: 0.7632
Epoch 97/250
 - 1s - loss: 0.8032 - acc: 0.7660
Epoch 98/250
 - 1s - loss: 0.7993 - acc: 0.7694
Epoch 99/250
 - 1s - loss: 0.7867 - acc: 0.7736
Epoch 100/250
 - 1s - loss: 0.7782 - acc: 0.7694
Epoch 101/250
 - 1s - loss: 0.7614 - acc: 0.7802
Epoch 102/250
 - 1s - loss: 0.7487 - acc: 0.7935
Epoch 103/250
 - 1s - loss: 0.7286 - acc: 0.7921
Epoch 104/250
 - 1s - loss: 0.7272 - acc: 0.7978
Epoch 105/250
 - 1s - loss: 0.7143 - acc: 0.7967
Epoch 106/250
 - 1s - loss: 0.7010 - acc: 0.8015
Epoch 107/250
 - 1s - loss: 0.6842 - acc: 0.8130
Epoch 108/250
 - 1s - loss: 0.6809 - acc: 0.8098
Epoch 109/250
 - 1s - loss: 0.6768 - acc: 0.8088
Epoch 110/250
 - 1s - loss: 0.6877 - acc: 0.8036
Epoch 111/250
 - 1s - loss: 0.6723 - acc: 0.8153
Epoch 112/250
 - 1s - loss: 0.6393 - acc: 0.8251
Epoch 113/250
 - 1s - loss: 0.6353 - acc: 0.8297
Epoch 114/250
 - 1s - loss: 0.6274 - acc: 0.8299
Epoch 115/250
 - 1s - loss: 0.6013 - acc: 0.8386
Epoch 116/250
 - 1s - loss: 0.6027 - acc: 0.8325
Epoch 117/250
 - 1s - loss: 0.5970 - acc: 0.8380
Epoch 118/250
 - 1s - loss: 0.5929 - acc: 0.8457
Epoch 119/250
 - 1s - loss: 0.5773 - acc: 0.8476
Epoch 120/250
 - 1s - loss: 0.5699 - acc: 0.8464
Epoch 121/250
 - 1s - loss: 0.5583 - acc: 0.8533
Epoch 122/250
 - 1s - loss: 0.5668 - acc: 0.8460
Epoch 123/250
 - 1s - loss: 0.5460 - acc: 0.8565
Epoch 124/250
 - 1s - loss: 0.5234 - acc: 0.8678
Epoch 125/250
 - 1s - loss: 0.5253 - acc: 0.8675
Epoch 126/250
 - 1s - loss: 0.5189 - acc: 0.8680
Epoch 127/250
 - 1s - loss: 0.5123 - acc: 0.8753
Epoch 128/250
 - 1s - loss: 0.5206 - acc: 0.8634
Epoch 129/250
 - 1s - loss: 0.4981 - acc: 0.8719
Epoch 130/250
 - 1s - loss: 0.4804 - acc: 0.8808
Epoch 131/250
 - 1s - loss: 0.4807 - acc: 0.8755
Epoch 132/250
 - 1s - loss: 0.4844 - acc: 0.8762
Epoch 133/250
 - 1s - loss: 0.4585 - acc: 0.8893
Epoch 134/250
 - 1s - loss: 0.4521 - acc: 0.8898
Epoch 135/250
 - 1s - loss: 0.4570 - acc: 0.8856
Epoch 136/250
 - 1s - loss: 0.4436 - acc: 0.8918
Epoch 137/250
 - 1s - loss: 0.4310 - acc: 0.8941
Epoch 138/250
 - 1s - loss: 0.4224 - acc: 0.8959
Epoch 139/250
 - 1s - loss: 0.4276 - acc: 0.9017
Epoch 140/250
 - 1s - loss: 0.4130 - acc: 0.9024
Epoch 141/250
 - 1s - loss: 0.4008 - acc: 0.9104
Epoch 142/250
 - 1s - loss: 0.3981 - acc: 0.9053
Epoch 143/250
 - 1s - loss: 0.4005 - acc: 0.9028
Epoch 144/250
 - 1s - loss: 0.3961 - acc: 0.9053
Epoch 145/250
 - 1s - loss: 0.3720 - acc: 0.9108
Epoch 146/250
 - 1s - loss: 0.3715 - acc: 0.9106
Epoch 147/250
 - 1s - loss: 0.3775 - acc: 0.9131
Epoch 148/250
 - 1s - loss: 0.3868 - acc: 0.9074
Epoch 149/250
 - 1s - loss: 0.3566 - acc: 0.9186
Epoch 150/250
 - 1s - loss: 0.3432 - acc: 0.9239
Epoch 151/250
 - 1s - loss: 0.3404 - acc: 0.9207
Epoch 152/250
 - 1s - loss: 0.3407 - acc: 0.9228
Epoch 153/250
 - 1s - loss: 0.3447 - acc: 0.9241
Epoch 154/250
 - 1s - loss: 0.3542 - acc: 0.9198
Epoch 155/250
 - 1s - loss: 0.3241 - acc: 0.9257
Epoch 156/250
 - 1s - loss: 0.3281 - acc: 0.9280
Epoch 157/250
 - 1s - loss: 0.3381 - acc: 0.9257
Epoch 158/250
 - 1s - loss: 0.3107 - acc: 0.9324
Epoch 159/250
 - 1s - loss: 0.3058 - acc: 0.9344
Epoch 160/250
 - 1s - loss: 0.2971 - acc: 0.9372
Epoch 161/250
 - 1s - loss: 0.2790 - acc: 0.9443
Epoch 162/250
 - 1s - loss: 0.2994 - acc: 0.9383
Epoch 163/250
 - 1s - loss: 0.2795 - acc: 0.9448
Epoch 164/250
 - 1s - loss: 0.2621 - acc: 0.9505
Epoch 165/250
 - 1s - loss: 0.2534 - acc: 0.9498
Epoch 166/250
 - 1s - loss: 0.2764 - acc: 0.9443
Epoch 167/250
 - 1s - loss: 0.2630 - acc: 0.9507
Epoch 168/250
 - 1s - loss: 0.2664 - acc: 0.9445
Epoch 169/250
 - 1s - loss: 0.2835 - acc: 0.9397
Epoch 170/250
 - 1s - loss: 0.2600 - acc: 0.9422

Epoch 171/250
 - 1s - loss: 0.2521 - acc: 0.9491
Epoch 172/250
 - 1s - loss: 0.2742 - acc: 0.9436
Epoch 173/250
 - 1s - loss: 0.2621 - acc: 0.9500
Epoch 174/250
 - 1s - loss: 0.2389 - acc: 0.9558
Epoch 175/250
 - 1s - loss: 0.2406 - acc: 0.9640
Epoch 176/250
 - 1s - loss: 0.2381 - acc: 0.9546
Epoch 177/250
 - 1s - loss: 0.2276 - acc: 0.9585
Epoch 178/250
 - 1s - loss: 0.2329 - acc: 0.9530
Epoch 179/250
 - 1s - loss: 0.2265 - acc: 0.9574
Epoch 180/250
 - 1s - loss: 0.2046 - acc: 0.9631
Epoch 181/250
 - 1s - loss: 0.2072 - acc: 0.9677
Epoch 182/250
 - 1s - loss: 0.2011 - acc: 0.9658
Epoch 183/250
 - 1s - loss: 0.2114 - acc: 0.9578
Epoch 184/250
 - 1s - loss: 0.2069 - acc: 0.9629
Epoch 185/250
 - 1s - loss: 0.1876 - acc: 0.9697
Epoch 186/250
 - 1s - loss: 0.2090 - acc: 0.9601
Epoch 187/250
 - 1s - loss: 0.1827 - acc: 0.9663
Epoch 188/250
 - 1s - loss: 0.1910 - acc: 0.9700
Epoch 189/250
 - 1s - loss: 0.1856 - acc: 0.9691
Epoch 190/250
 - 1s - loss: 0.1928 - acc: 0.9663
Epoch 191/250
 - 1s - loss: 0.1670 - acc: 0.9713
Epoch 192/250
 - 1s - loss: 0.1760 - acc: 0.9697
Epoch 193/250
 - 1s - loss: 0.1535 - acc: 0.9778
Epoch 194/250
 - 1s - loss: 0.1629 - acc: 0.9739
Epoch 195/250
 - 1s - loss: 0.1651 - acc: 0.9713
Epoch 196/250
 - 1s - loss: 0.2047 - acc: 0.9544
Epoch 197/250
 - 1s - loss: 0.1877 - acc: 0.9606
Epoch 198/250
 - 1s - loss: 0.1615 - acc: 0.9752
Epoch 199/250
 - 1s - loss: 0.1489 - acc: 0.9757
Epoch 200/250
 - 1s - loss: 0.1663 - acc: 0.9697
Epoch 201/250
 - 1s - loss: 0.1536 - acc: 0.9743
Epoch 202/250
 - 1s - loss: 0.1420 - acc: 0.9787
Epoch 203/250
 - 1s - loss: 0.1821 - acc: 0.9668
Epoch 204/250
 - 1s - loss: 0.1304 - acc: 0.9817
Epoch 205/250
 - 1s - loss: 0.1365 - acc: 0.9794
Epoch 206/250
 - 1s - loss: 0.1406 - acc: 0.9798
Epoch 207/250
 - 1s - loss: 0.1235 - acc: 0.9819
Epoch 208/250
 - 1s - loss: 0.1309 - acc: 0.9789
Epoch 209/250
 - 1s - loss: 0.1288 - acc: 0.9824
Epoch 210/250
 - 1s - loss: 0.1764 - acc: 0.9668
Epoch 211/250
 - 1s - loss: 0.2354 - acc: 0.9381
Epoch 212/250
 - 1s - loss: 0.1732 - acc: 0.9629
Epoch 213/250
 - 1s - loss: 0.1263 - acc: 0.9837
Epoch 214/250
 - 1s - loss: 0.1074 - acc: 0.9874
Epoch 215/250
 - 1s - loss: 0.0946 - acc: 0.9922
Epoch 216/250
 - 1s - loss: 0.1058 - acc: 0.9869
Epoch 217/250
 - 1s - loss: 0.1040 - acc: 0.9906
Epoch 218/250
 - 1s - loss: 0.1069 - acc: 0.9890
Epoch 219/250
 - 1s - loss: 0.1099 - acc: 0.9837
Epoch 220/250
 - 1s - loss: 0.1139 - acc: 0.9830
Epoch 221/250
 - 1s - loss: 0.1391 - acc: 0.9734
Epoch 222/250
 - 1s - loss: 0.1157 - acc: 0.9824
Epoch 223/250
 - 1s - loss: 0.1458 - acc: 0.9720
Epoch 224/250
 - 1s - loss: 0.1223 - acc: 0.9803
Epoch 225/250
 - 1s - loss: 0.1149 - acc: 0.9821
Epoch 226/250
 - 1s - loss: 0.1067 - acc: 0.9869
Epoch 227/250
 - 1s - loss: 0.1125 - acc: 0.9842
Epoch 228/250
 - 1s - loss: 0.1102 - acc: 0.9853
Epoch 229/250
 - 1s - loss: 0.1011 - acc: 0.9849
Epoch 230/250
 - 1s - loss: 0.1077 - acc: 0.9821
Epoch 231/250
 - 1s - loss: 0.1163 - acc: 0.9837
Epoch 232/250
 - 1s - loss: 0.1383 - acc: 0.9746
Epoch 233/250
 - 1s - loss: 0.1204 - acc: 0.9791
Epoch 234/250
 - 1s - loss: 0.1387 - acc: 0.9739
Epoch 235/250
 - 1s - loss: 0.1190 - acc: 0.9812
Epoch 236/250
 - 1s - loss: 0.0816 - acc: 0.9929
Epoch 237/250
 - 1s - loss: 0.0885 - acc: 0.9913
Epoch 238/250
 - 1s - loss: 0.0863 - acc: 0.9917
Epoch 239/250
 - 1s - loss: 0.0673 - acc: 0.9943
Epoch 240/250
 - 1s - loss: 0.0666 - acc: 0.9938
Epoch 241/250
 - 1s - loss: 0.0680 - acc: 0.9943
Epoch 242/250
 - 1s - loss: 0.0593 - acc: 0.9961
Epoch 243/250
 - 1s - loss: 0.0731 - acc: 0.9934
Epoch 244/250
 - 1s - loss: 0.0851 - acc: 0.9872
Epoch 245/250
 - 1s - loss: 0.0958 - acc: 0.9867
Epoch 246/250
 - 1s - loss: 0.2013 - acc: 0.9468
Epoch 247/250
 - 1s - loss: 0.2668 - acc: 0.9127
Epoch 248/250
 - 1s - loss: 0.1806 - acc: 0.9581
Epoch 249/250
 - 1s - loss: 0.0867 - acc: 0.9874
Epoch 250/250
 - 1s - loss: 0.0689 - acc: 0.9924

In [13]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 10.34906569608708, Accuracy: 0.1271477663537481