In [1]:
import pandas as pd

In [2]:
LABEVENTS = "../../Resources/LABEVENTS.csv"
D_LABITEMS = "../../Resources/D_LABITEMS.csv"
PATIENTS = "../../Resources/PATIENTS.csv"

In [3]:
lab_df = pd.read_csv(LABEVENTS)

lab_df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal

In [4]:
items_df = pd.read_csv(D_LABITEMS)

items_df = items_df.drop(['ROW_ID'], axis=1)

items_df.head()

,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,51346,Blasts,Cerebrospinal Fluid (CSF),Hematology,26447-3
1,51347,Eosinophils,Cerebrospinal Fluid (CSF),Hematology,26451-5
2,51348,"Hematocrit, CSF",Cerebrospinal Fluid (CSF),Hematology,30398-2
3,51349,Hypersegmented Neutrophils,Cerebrospinal Fluid (CSF),Hematology,26506-6
4,51350,Immunophenotyping,Cerebrospinal Fluid (CSF),Hematology,NaN

In [5]:
joined_df = lab_df.merge(items_df, on='ITEMID')

joined_df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,LABEL,FLUID,CATEGORY,LOINC_CODE
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4
1,289,3,NaN,50820,2101-10-12 18:17:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4
2,396,3,NaN,50820,2101-10-15 12:42:00,7.49,7.49,units,NaN,pH,Blood,Blood Gas,11558-4
3,976,3,145834.0,50820,2101-10-22 04:31:00,7.40,7.40,units,NaN,pH,Blood,Blood Gas,11558-4
4,989,3,145834.0,50820,2101-10-22 07:13:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4

In [6]:
blood_df = joined_df[joined_df.FLUID == "Blood"]

blood_df

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,LABEL,FLUID,CATEGORY,LOINC_CODE
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4
1,289,3,NaN,50820,2101-10-12 18:17:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4
2,396,3,NaN,50820,2101-10-15 12:42:00,7.49,7.49,units,NaN,pH,Blood,Blood Gas,11558-4
3,976,3,145834.0,50820,2101-10-22 04:31:00,7.40,7.40,units,NaN,pH,Blood,Blood Gas,11558-4
4,989,3,145834.0,50820,2101-10-22 07:13:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4
5,998,3,145834.0,50820,2101-10-22 10:16:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4
6,1007,3,145834.0,50820,2101-10-22 11:21:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4
7,1020,3,145834.0,50820,2101-10-22 13:02:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4
8,1030,3,145834.0,50820,2101-10-22 15:59:00,7.41,7.41,units,NaN,pH,Blood,Blood Gas,11558-4
9,1044,3,145834.0,50820,2101-10-22 16:02:00,7.36,7.36,units,NaN,pH,Blood,Blood Gas,11558-4
10,1069,3,145834.0,50820,2101-10-22 21:20:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4
11,1084,3,145834.0,50820,2101-10-23 02:46:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4
12,1097,3,145834.0,50820,2101-10-23 02:49:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4
13,1138,3,145834.0,50820,2101-10-23 10:14:00,7.42,7.42,units,NaN,pH,Blood,Blood Gas,11558-4
14,1151,3,145834.0,50820,2101-10-23 10:22:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4
15,1165,3,145834.0,50820,2101-10-23 16:10:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4
16,590,3,145834.0,50820,2101-10-20 20:04:00,7.26,7.26,units,NaN,pH,Blood,Blood Gas,11558-4
17,608,3,145834.0,50820,2101-10-20 21:51:00,7.26,7.26,units,NaN,pH,Blood,Blood Gas,11558-4
18,624,3,145834.0,50820,2101-10-21 00:42:00,7.29,7.29,units,NaN,pH,Blood,Blood Gas,11558-4
19,633,3,145834.0,50820,2101-10-21 01:46:00,7.30,7.30,units,NaN,pH,Blood,Blood Gas,11558-4
20,507,3,145834.0,50820,2101-10-20 19:12:00,7.35,7.35,units,NaN,pH,Blood,Blood Gas,11558-4
21,519,3,145834.0,50820,2101-10-20 19:14:00,7.59,7.59,units,NaN,pH,Blood,Blood Gas,11558-4
22,190,3,NaN,50820,2101-10-12 09:18:00,7.44,7.44,units,NaN,pH,Blood,Blood Gas,11558-4
23,209,3,NaN,50820,2101-10-12 10:51:00,7.43,7.43,units,NaN,pH,Blood,Blood Gas,11558-4
24,227,3,NaN,50820,2101-10-12 12:05:00,7.39,7.39,units,NaN,pH,Blood,Blood Gas,11558-4
25,243,3,NaN,50820,2101-10-12 13:00:00,7.40,7.40,units,NaN,pH,Blood,Blood Gas,11558-4
26,260,3,NaN,50820,2101-10-12 14:22:00,7.37,7.37,units,NaN,pH,Blood,Blood Gas,11558-4
27,2505,4,NaN,50820,2191-05-18 08:18:00,7.31,7.31,units,abnormal,pH,Blood,Blood Gas,11558-4
28,2510,4,NaN,50820,2191-05-18 13:16:00,7.41,7.41,units,NaN,pH,Blood,Blood Gas,11558-4
29,689,3,145834.0,50820,2101-10-21 03:09:00,7.33,7.33,units,NaN,pH,Blood,Blood Gas,11558-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27854019,22077617,55921,129611.0,51186,2179-08-28 07:05:00,487,487.00,#/uL,NaN,CD5 Absolute Count,Blood,Hematology,NaN
27854020,24092017,70563,136946.0,51186,2118-07-31 15:00:00,314,314.00,#/uL,NaN,CD5 Absolute Count,Blood,Hematology,NaN
27854021,24315349,72426,188651.0,51186,2194-01-03 14:57:00,293,293.00,#/uL,NaN,CD5 Absolute Count,Blood,Hematology,NaN
27854022,24896329,76915,110984.0,51186,2118-02-22 06:15:00,392,392.00,#/uL,NaN,CD5 Absolute Count,Blood,Hematology,NaN
27854023,27022974,93360,187866.0,51186,2196-06-23 01:35:00,606,606.00,#/uL,NaN,CD5 Absolute Count,Blood,Hematology,NaN
27854024,20903748,47731,138291.0,51295,2131-09-14 17:00:00,DONE,NaN,NaN,NaN,TdT,Blood,Hematology,NaN
27854025,22940625,62187,174760.0,51295,2164-06-17 10:22:00,DONE,NaN,NaN,NaN,TdT,Blood,Hematology,NaN
27854026,24047602,70314,129845.0,51295,2191-11-24 12:30:00,DONE,NaN,NaN,NaN,TdT,Blood,Hematology,NaN
27854027,24238989,71883,182623.0,51295,2120-07-06 06:00:00,DONE,NaN,NaN,NaN,TdT,Blood,Hematology,NaN
27854028,23786015,68454,NaN,51295,2154-10-23 15:10:00,D,NaN,NaN,NaN,TdT,Blood,Hematology,NaN
27854029,27474063,96763,167342.0,51295,2131-08-16 09:37:00,DONE,NaN,NaN,NaN,TdT,Blood,Hematology,NaN
27854030,27007967,93321,115396.0,51295,2128-03-24 21:45:00,DONE,NaN,NaN,NaN,TdT,Blood,Hematology,NaN
27854031,27072745,93710,109478.0,51295,2117-09-09 02:00:00,D,NaN,NaN,NaN,TdT,Blood,Hematology,NaN
27854032,27078626,93710,NaN,51295,2117-12-28 01:00:00,DONE,NaN,NaN,NaN,TdT,Blood,Hematology,NaN
27854039,27700704,98573,175201.0,51165,2196-01-09 03:00:00,5.0,5.00,%,NaN,CD19 %,Blood,Hematology,NaN
27854040,27699597,98573,175201.0,51165,2195-12-31 10:15:00,0.46,0.46,%,NaN,CD19 %,Blood,Hematology,NaN
27854041,27701601,98573,175201.0,51165,2196-01-19 17:22:00,5,5.00,%,NaN,CD19 %,Blood,Hematology,NaN
27854042,27701182,98573,175201.0,51165,2196-01-13 18:31:00,0,0.00,%,NaN,CD19 %,Blood,Hematology,NaN
27854043,27700705,98573,175201.0,51166,2196-01-09 03:00:00,13,13.00,#/uL,NaN,CD19 Absolute Count,Blood,Hematology,NaN
27854044,27699598,98573,175201.0,51166,2195-12-31 10:15:00,3,3.00,#/uL,NaN,CD19 Absolute Count,Blood,Hematology,NaN
27854045,27701602,98573,175201.0,51166,2196-01-19 17:22:00,16,16.00,#/uL,NaN,CD19 Absolute Count,Blood,Hematology,NaN
27854046,27701183,98573,175201.0,51166,2196-01-13 18:31:00,0,0.00,#/uL,NaN,CD19 Absolute Count,Blood,Hematology,NaN
27854047,27700706,98573,175201.0,51169,2196-01-09 03:00:00,5.0,5.00,%,NaN,CD20 %,Blood,Hematology,NaN
27854048,27699599,98573,175201.0,51169,2195-12-31 10:15:00,0.23,0.23,%,NaN,CD20 %,Blood,Hematology,NaN
27854049,27701603,98573,175201.0,51169,2196-01-19 17:22:00,0,0.00,%,NaN,CD20 %,Blood,Hematology,NaN
27854050,27701184,98573,175201.0,51169,2196-01-13 18:31:00,0,0.00,%,NaN,CD20 %,Blood,Hematology,NaN
27854051,27700707,98573,175201.0,51170,2196-01-09 03:00:00,13,13.00,#/uL,NaN,CD20 Absolute Count,Blood,Hematology,NaN
27854052,27699600,98573,175201.0,51170,2195-12-31 10:15:00,2,2.00,#/uL,NaN,CD20 Absolute Count,Blood,Hematology,NaN
27854053,27701604,98573,175201.0,51170,2196-01-19 17:22:00,0,0.00,#/uL,NaN,CD20 Absolute Count,Blood,Hematology,NaN
27854054,27701185,98573,175201.0,51170,2196-01-13 18:31:00,0,0.00,#/uL,NaN,CD20 Absolute Count,Blood,Hematology,NaN

In [7]:
tests = ['Chloride, Whole Blood','Glucose', 'Hematocrit, Calculated', 'Hemoglobin','Lactate', 'Potassium, Whole Blood', 
         'Sodium, Whole Blood', 'Anion Gap', 'Albumin','Bicarbonate', 'Bilirubin, Total', 'Creatinine', 'Chloride', 
        'Magnesium','Phosphate', 'Potassium', 'Sodium', 'Urea Nitrogen', 'Hematocrit',
         'Platelet Count', 'PTT', 'INR(PT)', 'PT', 'White Blood Cells']

In [9]:
# Blood Gas labels
blood_gas = blood_df[blood_df.CATEGORY == 'Blood Gas']
blood_gas = blood_gas[['SUBJECT_ID','HADM_ID','VALUENUM','LABEL','VALUEUOM','CATEGORY']]
#blood_gas.to_csv("../../../blood_gas.csv")
#blood_gas_chloride = blood_gas[blood_gas.LABEL == 'Chloride, Whole Blood']
#blood_gas_glucose = blood_gas[blood_gas.LABEL == 'Glucose']
#blood_gas_hematocritcalc = blood_gas[blood_gas.LABEL == 'Hematocrit, Calculated']
#blood_gas_hemoglobin = blood_gas[blood_gas.LABEL == 'Hemoglobin']
#blood_gas_lactate = blood_gas[blood_gas.LABEL == 'Lactate']
#blood_gas_potassiumwb = blood_gas[blood_gas.LABEL == 'Potassium, Whole Blood']
#blood_gas_sodiumwb = blood_gas[blood_gas.LABEL == 'Sodium, Whole Blood']

blood_gas = blood_gas[blood_gas['LABEL'].isin(tests)]

blood_gas_labels = blood_gas.drop_duplicates(subset='LABEL')

blood_gas_labels

,SUBJECT_ID,HADM_ID,VALUENUM,LABEL,VALUEUOM,CATEGORY
2329619,3,NaN,1.8,Lactate,mmol/L,Blood Gas
23844145,3,145834.0,26.0,"Hematocrit, Calculated",%,Blood Gas
23933860,3,145834.0,8.7,Hemoglobin,g/dL,Blood Gas
25303852,3,145834.0,265.0,Glucose,mg/dL,Blood Gas
25500588,3,145834.0,3.7,"Potassium, Whole Blood",mEq/L,Blood Gas
25737610,3,145834.0,139.0,"Sodium, Whole Blood",mEq/L,Blood Gas
26118925,3,145834.0,114.0,"Chloride, Whole Blood",mEq/L,Blood Gas

In [11]:
# Chemistry labels
chemistry = blood_df[blood_df.CATEGORY == 'Chemistry']
chemistry = chemistry[['SUBJECT_ID','HADM_ID','VALUENUM','LABEL','VALUEUOM','CATEGORY']]
#chemistry.to_csv("../../../chemistry.csv")
#chemistry_anion_gap = chemistry[chemistry.LABEL == 'Anion Gap']
#chemistry_albumin = chemistry[chemistry.LABEL == 'Albumin']
#chemistry_bicarbonate = chemistry[chemistry.LABEL == 'Bicarbonate']
#chemistry_bilirubin_total = chemistry[chemistry.LABEL == 'Bilirubin, Total']
#chemistry_creatinine = chemistry[chemistry.LABEL == 'Creatinine']
#chemistry_chloride = chemistry[chemistry.LABEL == 'Chloride']
#chemistry_glucose = chemistry[chemistry.LABEL == 'Glucose']
#chemistry_magnesium = chemistry[chemistry.LABEL == 'Magnesium']
#chemistry_phosphate = chemistry[chemistry.LABEL == 'Phosphate']
#chemistry_potassium = chemistry[chemistry.LABEL == 'Potassium']
#chemistry_sodium = chemistry[chemistry.LABEL == 'Sodium']
#chemistry_urea_nitrogen = chemistry[chemistry.LABEL == 'Urea Nitrogen']

chemistry = chemistry[chemistry['LABEL'].isin(tests)]

chemistry_labels = chemistry.drop_duplicates(subset='LABEL')

chemistry_labels

          SUBJECT_ID   HADM_ID  VALUENUM             LABEL VALUEUOM   CATEGORY
3627401            3       NaN      13.0         Anion Gap    mEq/L  Chemistry
4397211            3       NaN      23.0       Bicarbonate    mEq/L  Chemistry
5769791            3       NaN     109.0          Chloride    mEq/L  Chemistry
6565271            3       NaN       1.7        Creatinine    mg/dL  Chemistry
7362660            3       NaN     137.0           Glucose    mg/dL  Chemistry
8111556            3       NaN       1.8         Magnesium    mg/dL  Chemistry
8775679            3       NaN       3.7         Phosphate    mg/dL  Chemistry
9366181            3       NaN       4.3         Potassium    mEq/L  Chemistry
10211918           3       NaN     141.0            Sodium    mEq/L  Chemistry
11020319           3       NaN      33.0     Urea Nitrogen    mg/dL  Chemistry
22520703           3  145834.0       0.8  Bilirubin, Total    mg/dL  Chemistry
24963831           3  145834.0       1.8           Albumin     g/dL  Chemistry

In [12]:
# Hematology labels
hematology = blood_df[blood_df.CATEGORY == 'Hematology']
hematology = hematology[['SUBJECT_ID','HADM_ID','VALUENUM','LABEL','VALUEUOM','CATEGORY']]
#hematology.to_csv("../../../hematology.csv")
#hematology_hematocrit = hematology[hematology.LABEL == 'Hematocrit']
#hematology_hemoglobin = hematology[hematology.LABEL == 'Hemoglobin']
#hematology_platelet_count = hematology[hematology.LABEL == 'Platelet Count']
#hematology_ptt = hematology[hematology.LABEL == 'PTT']
#hematology_inr(pt) = hematology[hematology.LABEL == 'INR(PT)']
#hematology_pt = hematology[hematology.LABEL == 'PT']
#hematology_white_blood_cells = hematology[hematology.LABEL == 'White Blood Cells']
#hematology_wbc_count = hematology[hematology.LABEL == 'WBC Count']

hematology = hematology[hematology['LABEL'].isin(tests)]

hematology_labels = hematology.drop_duplicates(subset='LABEL')

hematology_labels

,SUBJECT_ID,HADM_ID,VALUENUM,LABEL,VALUEUOM,CATEGORY
11866885,3,NaN,30.3,Hematocrit,%,Hematology
13725594,3,NaN,10.3,Hemoglobin,g/dL,Hematology
17419078,3,NaN,184.0,Platelet Count,K/uL,Hematology
19752021,3,NaN,9.9,White Blood Cells,K/uL,Hematology
22758966,3,145834.0,125.7,PTT,sec,Hematology
24023572,3,145834.0,1.5,INR(PT),NaN,Hematology
24494748,3,145834.0,14.8,PT,SECONDS,Hematology