In [1]:
import pandas as pd

In [2]:
hematology = pd.read_csv('../Resources/hematology.csv')
chemistry = pd.read_csv('../Resources/chemistry.csv')
bloodgas = pd.read_csv('../Resources/blood_gas.csv')

In [6]:
hematology_tidy = pd.pivot_table(hematology, index=['SUBJECT_ID','HADM_ID','CHARTTIME'],values='VALUENUM',columns='LABEL')

In [8]:
chemistry_tidy = pd.pivot_table(chemistry, index=['SUBJECT_ID','HADM_ID','CHARTTIME'],values='VALUENUM',columns='LABEL')

In [11]:
bloodgas_tidy = pd.pivot_table(bloodgas, index=['SUBJECT_ID','HADM_ID','CHARTTIME'],values='VALUENUM',columns='LABEL')

In [14]:
data = hematology_tidy

In [16]:
data = data.merge(chemistry_tidy, left_index=True, right_index=True, how='outer')

In [17]:
data = data.merge(bloodgas_tidy, left_index=True, right_index=True, how='outer')

In [22]:
data.to_csv('../Resources/labs.csv')

In [36]:
data.shape

(1609114, 244)

In [23]:
data.head()

LABEL                                    Absolute CD3 Count  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                 NaN
                    2138-07-17 21:10:00                 NaN
                    2138-07-20 06:30:00                 NaN
3          145834.0 2101-10-20 16:40:00                 NaN
                    2101-10-20 16:49:00                 NaN

LABEL                                    Absolute CD4 Count  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                 NaN
                    2138-07-17 21:10:00                 NaN
                    2138-07-20 06:30:00                 NaN
3          145834.0 2101-10-20 16:40:00                 NaN
                    2101-10-20 16:49:00                 NaN

LABEL                                    Absolute CD8 Count  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                 NaN
                    2138-07-17 21:10:00                 NaN
                    2138-07-20 06:30:00                 NaN
3          145834.0 2101-10-20 16:40:00                 NaN
                    2101-10-20 16:49:00                 NaN

LABEL                                    Absolute Lymphocyte Count  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                        NaN
                    2138-07-17 21:10:00                        NaN
                    2138-07-20 06:30:00                        NaN
3          145834.0 2101-10-20 16:40:00                        NaN
                    2101-10-20 16:49:00                        NaN

LABEL                                    Alpha Antiplasmin  Anisocytosis  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                NaN           NaN
                    2138-07-17 21:10:00                NaN           NaN
                    2138-07-20 06:30:00                NaN           NaN
3          145834.0 2101-10-20 16:40:00                NaN           NaN
                    2101-10-20 16:49:00                NaN           NaN

LABEL                                    Anticardiolipin Antibody IgG  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                           NaN
                    2138-07-17 21:10:00                           NaN
                    2138-07-20 06:30:00                           NaN
3          145834.0 2101-10-20 16:40:00                           NaN
                    2101-10-20 16:49:00                           NaN

LABEL                                    Anticardiolipin Antibody IgM  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                           NaN
                    2138-07-17 21:10:00                           NaN
                    2138-07-20 06:30:00                           NaN
3          145834.0 2101-10-20 16:40:00                           NaN
                    2101-10-20 16:49:00                           NaN

LABEL                                    Antithrombin  Atypical Lymphocytes  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00           NaN                   0.0
                    2138-07-17 21:10:00           NaN                   0.0
                    2138-07-20 06:30:00           NaN                   NaN
3          145834.0 2101-10-20 16:40:00           NaN                   0.0
                    2101-10-20 16:49:00           NaN                   NaN

LABEL                                   ...   Oxygen Saturation  PEEP  \
SUBJECT_ID HADM_ID  CHARTTIME           ...
2          163353.0 2138-07-17 20:48:00 ...                 NaN   NaN
                    2138-07-17 21:10:00 ...                 NaN   NaN
                    2138-07-20 06:30:00 ...                 NaN   NaN
3          145834.0 2101-10-20 16:40:00 ...                 NaN   NaN
                    2101-10-20 16:49:00 ...                 NaN   NaN

LABEL                                    Potassium, Whole Blood  Required O2  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                     NaN          NaN
                    2138-07-17 21:10:00                     NaN          NaN
                    2138-07-20 06:30:00                     NaN          NaN
3          145834.0 2101-10-20 16:40:00                     NaN          NaN
                    2101-10-20 16:49:00                     NaN          NaN

LABEL                                    Sodium, Whole Blood  Temperature  \
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00                  NaN          NaN
                    2138-07-17 21:10:00                  NaN          NaN
                    2138-07-20 06:30:00                  NaN          NaN
3          145834.0 2101-10-20 16:40:00                  NaN          NaN
                    2101-10-20 16:49:00                  NaN          NaN

LABEL                                    Tidal Volume  pCO2  pH  pO2
SUBJECT_ID HADM_ID  CHARTTIME
2          163353.0 2138-07-17 20:48:00           NaN   NaN NaN  NaN
                    2138-07-17 21:10:00           NaN   NaN NaN  NaN
                    2138-07-20 06:30:00           NaN   NaN NaN  NaN
3          145834.0 2101-10-20 16:40:00           NaN   NaN NaN  NaN
                    2101-10-20 16:49:00           NaN   NaN NaN  NaN

[5 rows x 244 columns]

In [25]:
len(set(bloodgas['LABEL']))

27

In [26]:
len(set(hematology['LABEL']))

173

In [27]:
len(set(chemistry['LABEL']))

154

In [28]:
tests = ['Chloride, Whole Blood','Glucose', 'Hematocrit, Calculated', 'Hemoglobin','Lactate', 'Potassium, Whole Blood', 
         'Sodium, Whole Blood', 'Anion Gap', 'Albumin','Bicarbonate', 'Bilirubin, Total', 'Creatinine', 'Chloride', 
         'Glucose', 'Magnesium','Phosphate', 'Potassium', 'Sodium', 'Urea Nitrogen', 'Hematocrit', 'Hemoglobin',
         'Platelet Count', 'PTT', 'INR(PT)', 'PT', 'White Blood Cells']

In [29]:
df = pd.concat([hematology,chemistry,bloodgas], ignore_index=True)

In [30]:
df.head()

   Unnamed: 0  SUBJECT_ID   HADM_ID            CHARTTIME  VALUENUM       LABEL
0    11866885           3       NaN  2101-10-13 03:00:00      30.3  Hematocrit
1    11866886           3       NaN  2101-10-14 03:00:00      30.5  Hematocrit
2    11866887           3       NaN  2101-10-15 03:30:00      29.2  Hematocrit
3    11866888           3       NaN  2101-10-16 04:00:00      29.2  Hematocrit
4    11866889           3  145834.0  2101-10-22 04:00:00      28.6  Hematocrit

In [31]:
len(df)

25341470

In [32]:
df = df[df['LABEL'].isin(tests)]

In [33]:
len(df)

13434684

In [34]:
len(tests)

26

In [35]:
len(set(df['LABEL']))

24

In [37]:
df_tidy = pd.pivot_table(df, index=['SUBJECT_ID','HADM_ID','CHARTTIME'],values='VALUENUM',columns='LABEL')

In [38]:
df_tidy.shape

(1296447, 24)

In [39]:
df_tidy.to_csv('../Resources/labs.csv')

In [44]:
set(tests)-set(df['LABEL'])

set()

In [47]:
len(set(tests))

24

In [49]:
pd.Series(tests).value_counts()

Hemoglobin                2
Glucose                   2
Lactate                   1
Hematocrit, Calculated    1
Potassium, Whole Blood    1
PT                        1
Chloride, Whole Blood     1
Sodium                    1
Anion Gap                 1
Bilirubin, Total          1
Phosphate                 1
Bicarbonate               1
Urea Nitrogen             1
Platelet Count            1
Potassium                 1
White Blood Cells         1
INR(PT)                   1
Albumin                   1
PTT                       1
Chloride                  1
Sodium, Whole Blood       1
Creatinine                1
Hematocrit                1
Magnesium                 1
dtype: int64