In [1]:
import pandas as pd
import numpy as np
import os
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [2]:
labsData = pd.read_csv('../Resources/labs.csv')

labsData.head()

,SUBJECT_ID,HADM_ID,Albumin,Anion Gap,Bicarbonate,"Bilirubin, Total",Chloride,"Chloride, Whole Blood",Creatinine,Glucose_Blood_Gas,...,PT,PTT,Phosphate,Platelet Count,Potassium,"Potassium, Whole Blood",Sodium,"Sodium, Whole Blood",Urea Nitrogen,White Blood Cells
0,2,163353.0,no test,no test,no test,normal,no test,no test,no test,no test,...,no test,no test,no test,abnormal,no test,no test,no test,no test,no test,abnormal
1,3,145834.0,abnormal,normal,normal,normal,abnormal,abnormal,abnormal,abnormal,...,abnormal,normal,abnormal,normal,abnormal,normal,normal,normal,abnormal,abnormal
2,4,185777.0,abnormal,normal,normal,abnormal,normal,no test,normal,no test,...,normal,normal,normal,normal,abnormal,no test,normal,no test,normal,delta
3,5,178980.0,no test,no test,no test,no test,no test,no test,no test,no test,...,no test,no test,no test,normal,no test,no test,no test,no test,no test,normal
4,6,107064.0,abnormal,abnormal,abnormal,normal,normal,abnormal,abnormal,abnormal,...,abnormal,abnormal,abnormal,normal,abnormal,normal,normal,normal,abnormal,normal

In [3]:
patientsData = pd.read_csv('../Resources/PATIENTS.csv')

patientsData = patientsData[['SUBJECT_ID','EXPIRE_FLAG']]

patientsData.head()

   SUBJECT_ID  EXPIRE_FLAG
0         249            0
1         250            1
2         251            0
3         252            0
4         253            0

In [6]:
joinedData = labsData.merge(patientsData, on='SUBJECT_ID')

joinedData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58112 entries, 0 to 58111
Data columns (total 29 columns):
SUBJECT_ID                58112 non-null int64
HADM_ID                   58112 non-null float64
Albumin                   58112 non-null object
Anion Gap                 58112 non-null object
Bicarbonate               58112 non-null object
Bilirubin, Total          58112 non-null object
Chloride                  58112 non-null object
Chloride, Whole Blood     58112 non-null object
Creatinine                58112 non-null object
Glucose_Blood_Gas         58112 non-null object
Glucose_Chemistry         58112 non-null object
Hematocrit                58112 non-null object
Hematocrit, Calculated    58112 non-null object
Hemoglobin_Blood_Gas      58112 non-null object
Hemoglobin_Hematology     58112 non-null object
INR(PT)                   58112 non-null object
Lactate                   58112 non-null object
Magnesium                 58112 non-null object
PT                        58112 non-null object
PTT                       58112 non-null object
Phosphate                 58112 non-null object
Platelet Count            58112 non-null object
Potassium                 58112 non-null object
Potassium, Whole Blood    58112 non-null object
Sodium                    58112 non-null object
Sodium, Whole Blood       58112 non-null object
Urea Nitrogen             58112 non-null object
White Blood Cells         58112 non-null object
EXPIRE_FLAG               58112 non-null int64
dtypes: float64(1), int64(2), object(26)
memory usage: 13.3+ MB

LOGISTIC REGRESSION

In [7]:
from sklearn.preprocessing import LabelEncoder
x_data = joinedData.drop(['SUBJECT_ID','HADM_ID','EXPIRE_FLAG'], axis=1)

encodedData = x_data.apply(LabelEncoder().fit_transform)

encodedData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58112 entries, 0 to 58111
Data columns (total 26 columns):
Albumin                   58112 non-null int64
Anion Gap                 58112 non-null int64
Bicarbonate               58112 non-null int64
Bilirubin, Total          58112 non-null int64
Chloride                  58112 non-null int64
Chloride, Whole Blood     58112 non-null int64
Creatinine                58112 non-null int64
Glucose_Blood_Gas         58112 non-null int64
Glucose_Chemistry         58112 non-null int64
Hematocrit                58112 non-null int64
Hematocrit, Calculated    58112 non-null int64
Hemoglobin_Blood_Gas      58112 non-null int64
Hemoglobin_Hematology     58112 non-null int64
INR(PT)                   58112 non-null int64
Lactate                   58112 non-null int64
Magnesium                 58112 non-null int64
PT                        58112 non-null int64
PTT                       58112 non-null int64
Phosphate                 58112 non-null int64
Platelet Count            58112 non-null int64
Potassium                 58112 non-null int64
Potassium, Whole Blood    58112 non-null int64
Sodium                    58112 non-null int64
Sodium, Whole Blood       58112 non-null int64
Urea Nitrogen             58112 non-null int64
White Blood Cells         58112 non-null int64
dtypes: int64(26)
memory usage: 12.0 MB

In [11]:
X = encodedData
y = joinedData['EXPIRE_FLAG']
print(X.shape, y.shape)

(58112, 26) (58112,)

In [12]:
y = y.values.reshape(-1, 1)

In [13]:
from sklearn.model_selection import train_test_split

# Split data by test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
print(f"----train & test sizes-----")
print(f"train size: {len(X_train)}, keys: {len(X_train.keys())}")
print(f"test size: {len(X_test)}, keys: {len(X_test.keys())}")

----train & test sizes-----
train size: 43584, keys: 26
test size: 14528, keys: 26

In [14]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
classifier.fit(X_train, y_train)

/Users/jeffreybox/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [16]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6956910792951542
Testing Data Score: 0.6970677312775331

In [17]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 1 1 0 1 0 0 0 0]
First 10 Actual labels: [[1], [0], [1], [1], [0], [1], [0], [0], [0], [0]]

In [19]:
# Probabilities and deliverable output
predictions_class = classifier.predict_proba(X_test)
class_model1 = pd.DataFrame(predictions_class)
class_model1 = class_model1.rename(columns={0:'samples',1:'rf_probability'})
class_model1 = class_model1.drop(['samples'], axis=1)
class_model1.to_csv('logistic_classifier.csv')
class_model1

       rf_probability
0            0.449966
1            0.096660
2            0.587041
3            0.692556
4            0.396271
5            0.678605
6            0.196159
7            0.477382
8            0.239395
9            0.477800
10           0.325760
11           0.385635
12           0.288342
13           0.378749
14           0.265472
15           0.761768
16           0.471378
17           0.790404
18           0.310276
19           0.355995
20           0.676889
21           0.640105
22           0.178501
23           0.116788
24           0.166664
25           0.858059
26           0.402359
27           0.573865
28           0.339002
29           0.152383
...               ...
14498        0.494361
14499        0.371115
14500        0.255763
14501        0.740958
14502        0.147489
14503        0.369434
14504        0.237928
14505        0.261531
14506        0.224989
14507        0.603906
14508        0.250247
14509        0.196520
14510        0.183176
14511        0.174118
14512        0.559300
14513        0.604627
14514        0.614390
14515        0.241977
14516        0.416435
14517        0.423652
14518        0.460639
14519        0.622083
14520        0.411150
14521        0.337059
14522        0.219708
14523        0.225439
14524        0.104591
14525        0.444523
14526        0.354991
14527        0.225232

[14528 rows x 1 columns]

RANDOM FOREST

In [22]:
# Modeling a forest with 200 trees
rf = RandomForestClassifier(n_estimators=200)

In [23]:
# Fit
rf.fit(X_train, y_train.ravel())

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [24]:
# Predict
classes_rf = rf.predict(X_test)
rf_df = pd.DataFrame(classes_rf)
rf_df = rf_df.rename(columns={0:'classes'})
#classes_df.to_csv('classes_df.csv')
rf_df.head()

   classes
0        1
1        0
2        1
3        1
4        1

In [27]:
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(y_test, predictions)
r2 = rf.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.302932268722467, R2: 0.7001651982378855

In [25]:
# Probabilities and deliverable output
predictions_rf = rf.predict_proba(X_test)
rf_model = pd.DataFrame(predictions_rf)
rf_model = rf_model.rename(columns={0:'samples',1:'rf_probability'})
rf_model = rf_model.drop(['samples'], axis=1)
rf_model.to_csv('rf_classifier.csv')
rf_model

       rf_probability
0            0.535000
1            0.047500
2            0.595000
3            0.610000
4            0.586667
5            0.605000
6            0.000000
7            0.936583
8            0.000000
9            0.617167
10           0.000000
11           0.235000
12           0.555333
13           0.603833
14           0.323917
15           0.395000
16           0.305000
17           0.719500
18           0.368556
19           0.335000
20           0.715000
21           0.630000
22           0.000000
23           0.021208
24           0.000000
25           0.765000
26           0.640000
27           0.432744
28           0.000000
29           0.325000
...               ...
14498        0.157500
14499        0.312917
14500        0.537000
14501        0.379109
14502        0.568333
14503        0.630000
14504        0.007256
14505        0.580000
14506        0.030000
14507        0.480000
14508        0.004000
14509        0.000000
14510        0.487449
14511        0.015000
14512        0.758333
14513        0.854167
14514        0.620000
14515        0.575000
14516        0.510000
14517        0.430000
14518        0.698500
14519        0.260357
14520        0.541500
14521        0.456667
14522        0.067500
14523        0.390000
14524        0.005000
14525        0.625929
14526        0.565000
14527        0.106250

[14528 rows x 1 columns]