In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.ensemble import RandomForestClassifier

In [42]:
PRESCRIPTIONS = "../../Resources/PRESCRIPTIONS.csv"
PATIENTS = "../../Resources/PATIENTS.csv"

In [50]:
Rx_df = pd.read_csv(PRESCRIPTIONS, low_memory=False)
Rx_df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
0,2214776,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Tacrolimus,Tacrolimus,Tacrolimus,TACR1,021796,469061711.0,1mg Capsule,2,mg,2,CAP,PO
1,2214775,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,WARF5,006562,56017275.0,5mg Tablet,5,mg,1,TAB,PO
2,2215524,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Heparin Sodium,NaN,NaN,HEPAPREMIX,006522,338055002.0,"25,000 unit Premix Bag","25,000",UNIT,1,BAG,IV
3,2216265,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,BASE,D5W,NaN,NaN,HEPBASE,NaN,0.0,HEPARIN BASE,250,ml,250,ml,IV
4,2214773,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Furosemide,Furosemide,Furosemide,FURO20,008208,54829725.0,20mg Tablet,20,mg,1,TAB,PO

In [44]:
Rx_df['DRUG'].value_counts()

Potassium Chloride                192993
Insulin                           143465
D5W                               142241
Furosemide                        133122
0.9% Sodium Chloride              130147
NS                                129731
Magnesium Sulfate                  90427
Iso-Osmotic Dextrose               87005
Sodium Chloride 0.9%  Flush        83392
Acetaminophen                      78768
Metoprolol                         73986
5% Dextrose                        73829
SW                                 72522
Morphine Sulfate                   62134
Metoprolol Tartrate                59824
Lorazepam                          55352
Calcium Gluconate                  52110
Heparin                            52069
Docusate Sodium                    45694
Vancomycin                         42634
Bisacodyl                          41075
Warfarin                           39678
Heparin Sodium                     37702
HYDROmorphone (Dilaudid)           37673
LR                                 35409
Propofol                           34462
Pantoprazole                       33587
Fentanyl Citrate                   31669
Senna                              29152
Aspirin                            28410
                                   ...
Timolol Maleate 0.5% GFS               1
*NF* Amoxapine                         1
Ritonavir study med                    1
Zelnorm (tegaserod)                    1
Ocuvite PreserVision                   1
FLUC60L                                1
bisacody                               1
Epinephrine Auto Injector              1
Lunesta (eszopiclone)                  1
Loestrin 24 Fe                         1
econ                                   1
Triamcinolone Acetonide Inj            1
VICOdin                                1
Pulmicort respules                     1
Ferrous                                1
Digo                                   1
rabeprazole                            1
*NF* Ofloxacin 0.3% Ophth Soln         1
Epoprostenol                           1
Varicella-Zoster Imm Globulin          1
FLUoxetine                             1
emtri                                  1
naratriptan                            1
PER                                    1
cevimeline                             1
Pilopine HS                            1
Diflunisal                             1
Ayr Saline Gel                         1
Daily Vitamin                          1
cortroysn                              1
Name: DRUG, Length: 4525, dtype: int64

In [45]:
#Rx_df['DRUG'].hist()

In [97]:
Rx_df['DRUG'].describe()

count                4156450
unique                  4525
top       Potassium Chloride
freq                  192993
Name: DRUG, dtype: object

In [60]:
patient_df = pd.read_csv(PATIENTS)

patient_df = patient_df.drop(['ROW_ID'], axis=1)

patient_df.head()

,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0

In [65]:
Rx_joined = Rx_df.merge(patient_df, on='SUBJECT_ID')

Rx_joined.head()
#print(join_df.DESCR)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,...,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,2214776,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Tacrolimus,Tacrolimus,Tacrolimus,...,mg,2,CAP,PO,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
1,2214775,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Warfarin,Warfarin,Warfarin,...,mg,1,TAB,PO,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
2,2215524,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Heparin Sodium,NaN,NaN,...,UNIT,1,BAG,IV,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
3,2216265,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,BASE,D5W,NaN,NaN,...,ml,250,ml,IV,F,2109-06-21 00:00:00,NaN,NaN,NaN,0
4,2214773,6,107064,NaN,2175-06-11 00:00:00,2175-06-12 00:00:00,MAIN,Furosemide,Furosemide,Furosemide,...,mg,1,TAB,PO,F,2109-06-21 00:00:00,NaN,NaN,NaN,0

In [78]:
target = Rx_joined["EXPIRE_FLAG"]
target_names = ["negative", "positive"]

In [81]:
data1 = Rx_joined.drop(["EXPIRE_FLAG", 'STARTDATE'], axis=1)

In [89]:
data = data1.drop(["ENDDATE", 'DOB'], axis=1)
feature_names = data.columns
pd.set_option('display.max_columns', 60)
data.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE,GENDER,DOD,DOD_HOSP,DOD_SSN
0,2214776,6,107064,NaN,MAIN,Tacrolimus,Tacrolimus,Tacrolimus,TACR1,021796,469061711.0,1mg Capsule,2,mg,2,CAP,PO,F,NaN,NaN,NaN
1,2214775,6,107064,NaN,MAIN,Warfarin,Warfarin,Warfarin,WARF5,006562,56017275.0,5mg Tablet,5,mg,1,TAB,PO,F,NaN,NaN,NaN
2,2215524,6,107064,NaN,MAIN,Heparin Sodium,NaN,NaN,HEPAPREMIX,006522,338055002.0,"25,000 unit Premix Bag","25,000",UNIT,1,BAG,IV,F,NaN,NaN,NaN
3,2216265,6,107064,NaN,BASE,D5W,NaN,NaN,HEPBASE,NaN,0.0,HEPARIN BASE,250,ml,250,ml,IV,F,NaN,NaN,NaN
4,2214773,6,107064,NaN,MAIN,Furosemide,Furosemide,Furosemide,FURO20,008208,54829725.0,20mg Tablet,20,mg,1,TAB,PO,F,NaN,NaN,NaN

In [90]:
type(data.DRUG[1])

str

In [91]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [92]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

NameError: name 'tree' is not defined

In [ ]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

In [ ]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)