In [2]:
import pandas as pd
import numpy as np
import os
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [3]:
labsData = pd.read_csv('labs.csv')

labsData.head()

,SUBJECT_ID,HADM_ID,Albumin,Anion Gap,Bicarbonate,"Bilirubin, Total",Chloride,"Chloride, Whole Blood",Creatinine,Glucose_Blood_Gas,...,PT,PTT,Phosphate,Platelet Count,Potassium,"Potassium, Whole Blood",Sodium,"Sodium, Whole Blood",Urea Nitrogen,White Blood Cells
0,2,163353.0,no test,no test,no test,normal,no test,no test,no test,no test,...,no test,no test,no test,abnormal,no test,no test,no test,no test,no test,abnormal
1,3,145834.0,abnormal,normal,normal,normal,abnormal,abnormal,abnormal,abnormal,...,abnormal,normal,abnormal,normal,abnormal,normal,normal,normal,abnormal,abnormal
2,4,185777.0,abnormal,normal,normal,abnormal,normal,no test,normal,no test,...,normal,normal,normal,normal,abnormal,no test,normal,no test,normal,delta
3,5,178980.0,no test,no test,no test,no test,no test,no test,no test,no test,...,no test,no test,no test,normal,no test,no test,no test,no test,no test,normal
4,6,107064.0,abnormal,abnormal,abnormal,normal,normal,abnormal,abnormal,abnormal,...,abnormal,abnormal,abnormal,normal,abnormal,normal,normal,normal,abnormal,normal

In [4]:
patientsData = pd.read_csv('PATIENTS.csv')

patientsData = patientsData[['SUBJECT_ID','EXPIRE_FLAG']]

patientsData.head()

   SUBJECT_ID  EXPIRE_FLAG
0         249            0
1         250            1
2         251            0
3         252            0
4         253            0

In [8]:
joinedData = labsData.merge(patientsData, on='SUBJECT_ID')

joinedData.head()

,SUBJECT_ID,HADM_ID,Albumin,Anion Gap,Bicarbonate,"Bilirubin, Total",Chloride,"Chloride, Whole Blood",Creatinine,Glucose_Blood_Gas,...,PTT,Phosphate,Platelet Count,Potassium,"Potassium, Whole Blood",Sodium,"Sodium, Whole Blood",Urea Nitrogen,White Blood Cells,EXPIRE_FLAG
0,2,163353.0,no test,no test,no test,normal,no test,no test,no test,no test,...,no test,no test,abnormal,no test,no test,no test,no test,no test,abnormal,0
1,3,145834.0,abnormal,normal,normal,normal,abnormal,abnormal,abnormal,abnormal,...,normal,abnormal,normal,abnormal,normal,normal,normal,abnormal,abnormal,1
2,4,185777.0,abnormal,normal,normal,abnormal,normal,no test,normal,no test,...,normal,normal,normal,abnormal,no test,normal,no test,normal,delta,0
3,5,178980.0,no test,no test,no test,no test,no test,no test,no test,no test,...,no test,no test,normal,no test,no test,no test,no test,no test,normal,0
4,6,107064.0,abnormal,abnormal,abnormal,normal,normal,abnormal,abnormal,abnormal,...,abnormal,abnormal,normal,abnormal,normal,normal,normal,abnormal,normal,0

LOGISTIC REGRESSION

In [9]:
from sklearn.preprocessing import LabelEncoder
x_data = joinedData.drop(['SUBJECT_ID','HADM_ID','EXPIRE_FLAG'], axis=1)

encodedData = x_data.apply(LabelEncoder().fit_transform)

encodedData.head()

,Albumin,Anion Gap,Bicarbonate,"Bilirubin, Total",Chloride,"Chloride, Whole Blood",Creatinine,Glucose_Blood_Gas,Glucose_Chemistry,Hematocrit,...,PT,PTT,Phosphate,Platelet Count,Potassium,"Potassium, Whole Blood",Sodium,"Sodium, Whole Blood",Urea Nitrogen,White Blood Cells
0,1,1,1,3,1,1,2,1,1,0,...,1,1,2,0,1,1,1,1,1,0
1,0,2,2,3,0,0,0,0,2,0,...,0,2,0,3,0,2,2,2,0,0
2,0,2,2,0,2,1,3,1,0,0,...,2,2,3,3,0,1,2,1,2,1
3,1,1,1,2,1,1,2,1,1,3,...,1,1,2,3,1,1,1,1,1,3
4,0,0,0,3,2,0,0,0,0,0,...,0,0,0,3,0,2,2,2,0,3

In [10]:
X = encodedData
y = joinedData['EXPIRE_FLAG']
print(X.shape, y.shape)

(58112, 26) (58112,)

In [16]:
y = y.values.reshape(-1, 1)

In [17]:
from sklearn.model_selection import train_test_split

# Split data by test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [31]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [32]:
classifier.fit(X_train, y_train)

C:\Users\wmagill4\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\wmagill4\Anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [33]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6956451908957415
Testing Data Score: 0.6970677312775331

In [34]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 1 1 0 1 0 0 0 0]
First 10 Actual labels: [[1], [0], [1], [1], [0], [1], [0], [0], [0], [0]]

RANDOM FOREST

In [27]:
# Modeling a forest with 200 trees
rf = RandomForestClassifier(n_estimators=200)

In [28]:
# Fit
rf.fit(X_train, y_train.ravel())

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [29]:
# Predict
classes_rf = rf.predict(X_test)
rf_df = pd.DataFrame(classes_rf)
rf_df = rf_df.rename(columns={0:'classes'})
#classes_df.to_csv('classes_df.csv')
rf_df.head()

   classes
0        1
1        0
2        1
3        1
4        1

In [1]:
# Probabilities and deliverable output
predictions_rf = rf.predict_proba(X_test)
rf_model = pd.DataFrame(predictions_rf)
rf_model = rf_model.rename(columns={0:'samples',1:'rf_probability'})
rf_model = rf_model.drop(['samples'], axis=1)
rf_model

NameError: name 'rf' is not defined