# Neural Network - Length of Stay (LOS)

This ML model predicts days from admission to discharge for the patients in the MIMIC dataset who lived

In [1]:
import pandas as pd
import numpy as np
import os
import tensorflow as tf
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense

Using TensorFlow backend.

# Data Setup
Creates separate clean dataframes for both sets of patients - lived & died

In [2]:
# read in labs

labs = pd.read_csv('../Resources/labsNew.csv')
labs.head()

,SUBJECT_ID,HADM_ID,Albumin,Anion Gap,Bicarbonate,"Bilirubin, Total",Chloride,"Chloride, Whole Blood",Creatinine,Glucose_Blood_Gas,...,PT,PTT,Phosphate,Platelet Count,Potassium,"Potassium, Whole Blood",Sodium,"Sodium, Whole Blood",Urea Nitrogen,White Blood Cells
0,2,163353.0,0.0,0.0,0.0,9.3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.1
1,3,145834.0,1.8,17.0,25.0,0.8,99.0,114.0,3.2,265.0,...,14.8,125.7,4.8,179.0,5.4,3.7,136.0,139.0,36.0,15.1
2,4,185777.0,2.8,17.0,24.0,2.2,97.0,0.0,0.5,0.0,...,12.3,31.3,3.2,207.0,3.1,0.0,135.0,0.0,9.0,9.7
3,5,178980.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,309.0,0.0,0.0,0.0,0.0,0.0,13.9
4,6,107064.0,2.7,17.0,16.0,0.2,107.0,95.0,3.5,106.0,...,12.5,55.2,4.1,198.0,4.9,4.2,135.0,135.0,86.0,22.7

In [3]:
# read in patients that survived

lived = pd.read_csv('../Resources/admissions_survived.csv')
lived.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,LENGTH_OF_STAY
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1,1.144444
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1,5.496528
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1,6.768056
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1,2.856944
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1,3.534028

In [4]:
# join labs.csv with the admissions_survived.csv

lived_df = pd.merge(lived, labs, on='HADM_ID')
lived_df.head()

,ROW_ID,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,...,PT,PTT,Phosphate,Platelet Count,Potassium,"Potassium, Whole Blood",Sodium,"Sodium, Whole Blood",Urea Nitrogen,White Blood Cells
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,...,12.4,30.1,3.7,259.0,4.4,0.0,140.0,0.0,17.0,5.1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,...,17.5,42.0,3.2,95.0,3.9,3.6,143.0,140.0,14.0,9.4
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,...,11.9,26.6,3.0,216.0,4.2,3.5,140.0,133.0,16.0,10.9
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,...,12.4,22.5,3.8,215.0,4.1,0.0,139.0,0.0,13.0,9.8
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,...,12.8,34.6,4.5,269.0,3.3,0.0,134.0,0.0,50.0,12.2

In [5]:
# Check on what we have in our df

lived_df.columns

Index(['ROW_ID', 'SUBJECT_ID_x', 'HADM_ID', 'ADMITTIME', 'DISCHTIME',
       'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'DISCHARGE_LOCATION',
       'INSURANCE', 'LANGUAGE', 'RELIGION', 'MARITAL_STATUS', 'ETHNICITY',
       'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG',
       'HAS_CHARTEVENTS_DATA', 'LENGTH_OF_STAY', 'SUBJECT_ID_y', 'Albumin',
       'Anion Gap', 'Bicarbonate', 'Bilirubin, Total', 'Chloride',
       'Chloride, Whole Blood', 'Creatinine', 'Glucose_Blood_Gas',
       'Glucose_Chemistry', 'Hematocrit', 'Hematocrit, Calculated',
       'Hemoglobin_Blood_Gas', 'Hemoglobin_Hematology', 'INR(PT)', 'Lactate',
       'Magnesium', 'PT', 'PTT', 'Phosphate', 'Platelet Count', 'Potassium',
       'Potassium, Whole Blood', 'Sodium', 'Sodium, Whole Blood',
       'Urea Nitrogen', 'White Blood Cells'],
      dtype='object')

In [6]:
# Get rid of attributes we don't need and/or are messing up the model

#lived_df = lived_df.drop(['ROW_ID', 'SUBJECT_ID_x', 'HADM_ID', 'DIAGNOSIS', 'ADMITTIME', 'MARITAL_STATUS', 'DISCHTIME', 'DISCHARGE_LOCATION',
#                         'ADMISSION_TYPE','ADMISSION_LOCATION','INSURANCE','RELIGION', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'HOSPITAL_EXPIRE_FLAG',
#       'HAS_CHARTEVENTS_DATA', 'SUBJECT_ID_y', 'LANGUAGE'], axis = 1)

In [7]:
lived_df = lived_df[['LENGTH_OF_STAY',
                     'Chloride, Whole Blood',
                     'Glucose_Chemistry',
                     'Hematocrit, Calculated',
                     'Hemoglobin_Blood_Gas',
                     'Lactate',
                     'Potassium, Whole Blood',
                     'Sodium, Whole Blood',
                     'Anion Gap',
                     'Albumin',
                     'Bicarbonate',
                     'Bilirubin, Total',
                     'Creatinine',
                     'Chloride',
                     'Glucose_Blood_Gas',
                     'Magnesium',
                     'Phosphate',
                     'Potassium',
                     'Sodium',
                     'Urea Nitrogen',
                     'Hematocrit',
                     'Hemoglobin_Hematology',
                     'Platelet Count',
                     'PTT',
                     'INR(PT)',
                     'PT',
                     'White Blood Cells'
                    ]]

In [8]:
# Encode non-numeric values

from sklearn.preprocessing import LabelEncoder

x_data = lived_df.drop(['LENGTH_OF_STAY'], axis=1)
encodedData = x_data.apply(LabelEncoder().fit_transform)
encodedData.head()

,"Chloride, Whole Blood",Glucose_Chemistry,"Hematocrit, Calculated",Hemoglobin_Blood_Gas,Lactate,"Potassium, Whole Blood","Sodium, Whole Blood",Anion Gap,Albumin,Bicarbonate,...,Potassium,Sodium,Urea Nitrogen,Hematocrit,Hemoglobin_Hematology,Platelet Count,PTT,INR(PT),PT,White Blood Cells
0,0,89,0,0,0,0,0,14,0,33,...,31,38,17,249,95,256,141,9,37,53
1,0,115,27,82,0,27,36,13,0,26,...,25,41,14,109,52,92,260,26,90,132
2,39,128,37,115,90,26,29,14,32,32,...,29,38,16,279,107,213,104,7,32,167
3,0,87,37,117,0,0,0,15,0,27,...,27,37,13,294,114,212,62,7,37,142
4,0,365,23,71,63,0,0,20,23,26,...,19,32,50,269,104,266,186,7,41,187

In [9]:
# Round the y data
lived_df['LENGTH_OF_STAY'] = lived_df['LENGTH_OF_STAY'].round()

In [32]:
# Shape the data

X = encodedData
y = lived_df['LENGTH_OF_STAY']

from keras.utils import to_categorical
y_binary = to_categorical(y)

print(f"data shape: {X.shape}")
print(f"target shape: {y.shape}")

data shape: (52294, 26)
target shape: (52294,)

# Length of Stay Model

In [33]:
# Create test and train data and scale the data sets

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y_binary, random_state=1)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:8: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:9: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

In [46]:
# Construct the NN

model = Sequential()
model.add(Dense(units=161, activation='relu', input_dim=26))
model.add(Dense(units=161, activation='relu'))
model.add(Dense(units=296, activation='softmax'))

In [47]:
# Run the NN

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train,
    epochs=120,
    shuffle=True,
    verbose=2
)

Epoch 1/120
 - 12s - loss: 3.0369 - acc: 0.1397
Epoch 2/120
 - 11s - loss: 2.8830 - acc: 0.1531
Epoch 3/120
 - 10s - loss: 2.8467 - acc: 0.1555
Epoch 4/120
 - 10s - loss: 2.8208 - acc: 0.1629
Epoch 5/120
 - 10s - loss: 2.7993 - acc: 0.1638
Epoch 6/120
 - 11s - loss: 2.7784 - acc: 0.1682
Epoch 7/120
 - 11s - loss: 2.7580 - acc: 0.1719
Epoch 8/120
 - 11s - loss: 2.7371 - acc: 0.1773
Epoch 9/120
 - 11s - loss: 2.7159 - acc: 0.1789
Epoch 10/120
 - 11s - loss: 2.6945 - acc: 0.1860
Epoch 11/120
 - 11s - loss: 2.6746 - acc: 0.1895
Epoch 12/120
 - 10s - loss: 2.6517 - acc: 0.1938
Epoch 13/120
 - 10s - loss: 2.6323 - acc: 0.1974
Epoch 14/120
 - 10s - loss: 2.6101 - acc: 0.2036
Epoch 15/120
 - 11s - loss: 2.5921 - acc: 0.2078
Epoch 16/120
 - 11s - loss: 2.5721 - acc: 0.2131
Epoch 17/120
 - 11s - loss: 2.5530 - acc: 0.2173
Epoch 18/120
 - 11s - loss: 2.5358 - acc: 0.2198
Epoch 19/120
 - 11s - loss: 2.5178 - acc: 0.2237
Epoch 20/120
 - 11s - loss: 2.5021 - acc: 0.2290
Epoch 21/120
 - 11s - loss: 2.4858 - acc: 0.2352
Epoch 22/120
 - 11s - loss: 2.4697 - acc: 0.2362
Epoch 23/120
 - 11s - loss: 2.4552 - acc: 0.2425
Epoch 24/120
 - 11s - loss: 2.4406 - acc: 0.2419
Epoch 25/120
 - 11s - loss: 2.4269 - acc: 0.2475
Epoch 26/120
 - 11s - loss: 2.4138 - acc: 0.2502
Epoch 27/120
 - 11s - loss: 2.3996 - acc: 0.2561
Epoch 28/120
 - 11s - loss: 2.3901 - acc: 0.2560
Epoch 29/120
 - 11s - loss: 2.3754 - acc: 0.2610
Epoch 30/120
 - 11s - loss: 2.3649 - acc: 0.2631
Epoch 31/120
 - 11s - loss: 2.3550 - acc: 0.2643
Epoch 32/120
 - 11s - loss: 2.3429 - acc: 0.2681
Epoch 33/120
 - 10s - loss: 2.3341 - acc: 0.2695
Epoch 34/120
 - 11s - loss: 2.3227 - acc: 0.2725
Epoch 35/120
 - 11s - loss: 2.3148 - acc: 0.2724
Epoch 36/120
 - 11s - loss: 2.3033 - acc: 0.2774
Epoch 37/120
 - 11s - loss: 2.2970 - acc: 0.2787
Epoch 38/120
 - 11s - loss: 2.2893 - acc: 0.2814
Epoch 39/120
 - 11s - loss: 2.2779 - acc: 0.2854
Epoch 40/120
 - 11s - loss: 2.2710 - acc: 0.2888
Epoch 41/120
 - 11s - loss: 2.2630 - acc: 0.2894
Epoch 42/120
 - 11s - loss: 2.2528 - acc: 0.2907
Epoch 43/120
 - 11s - loss: 2.2458 - acc: 0.2946
Epoch 44/120
 - 11s - loss: 2.2384 - acc: 0.2955
Epoch 45/120
 - 12s - loss: 2.2322 - acc: 0.2980
Epoch 46/120
 - 12s - loss: 2.2240 - acc: 0.2998
Epoch 47/120
 - 12s - loss: 2.2174 - acc: 0.3022
Epoch 48/120
 - 11s - loss: 2.2092 - acc: 0.3009
Epoch 49/120
 - 12s - loss: 2.2034 - acc: 0.3049
Epoch 50/120
 - 15s - loss: 2.1948 - acc: 0.3078
Epoch 51/120
 - 12s - loss: 2.1903 - acc: 0.3093
Epoch 52/120
 - 12s - loss: 2.1858 - acc: 0.3114
Epoch 53/120
 - 11s - loss: 2.1767 - acc: 0.3129
Epoch 54/120
 - 11s - loss: 2.1684 - acc: 0.3150
Epoch 55/120
 - 11s - loss: 2.1633 - acc: 0.3142
Epoch 56/120
 - 11s - loss: 2.1594 - acc: 0.3167
Epoch 57/120
 - 11s - loss: 2.1528 - acc: 0.3204
Epoch 58/120
 - 11s - loss: 2.1486 - acc: 0.3210
Epoch 59/120
 - 11s - loss: 2.1434 - acc: 0.3229
Epoch 60/120
 - 11s - loss: 2.1384 - acc: 0.3221
Epoch 61/120
 - 11s - loss: 2.1331 - acc: 0.3250
Epoch 62/120
 - 11s - loss: 2.1264 - acc: 0.3251
Epoch 63/120
 - 11s - loss: 2.1204 - acc: 0.3274
Epoch 64/120
 - 11s - loss: 2.1175 - acc: 0.3276
Epoch 65/120
 - 11s - loss: 2.1114 - acc: 0.3317
Epoch 66/120
 - 11s - loss: 2.1078 - acc: 0.3305
Epoch 67/120
 - 11s - loss: 2.1018 - acc: 0.3313
Epoch 68/120
 - 11s - loss: 2.0981 - acc: 0.3338
Epoch 69/120
 - 11s - loss: 2.0955 - acc: 0.3348
Epoch 70/120
 - 11s - loss: 2.0901 - acc: 0.3345
Epoch 71/120
 - 11s - loss: 2.0873 - acc: 0.3349
Epoch 72/120
 - 11s - loss: 2.0821 - acc: 0.3375
Epoch 73/120
 - 11s - loss: 2.0774 - acc: 0.3412
Epoch 74/120
 - 11s - loss: 2.0748 - acc: 0.3386
Epoch 75/120
 - 11s - loss: 2.0696 - acc: 0.3399
Epoch 76/120
 - 11s - loss: 2.0645 - acc: 0.3426
Epoch 77/120
 - 11s - loss: 2.0631 - acc: 0.3417
Epoch 78/120
 - 11s - loss: 2.0572 - acc: 0.3422
Epoch 79/120
 - 11s - loss: 2.0552 - acc: 0.3454
Epoch 80/120
 - 11s - loss: 2.0500 - acc: 0.3466
Epoch 81/120
 - 11s - loss: 2.0467 - acc: 0.3460
Epoch 82/120
 - 11s - loss: 2.0442 - acc: 0.3452
Epoch 83/120
 - 11s - loss: 2.0400 - acc: 0.3513
Epoch 84/120
 - 11s - loss: 2.0371 - acc: 0.3453
Epoch 85/120
 - 11s - loss: 2.0370 - acc: 0.3497
Epoch 86/120
 - 12s - loss: 2.0285 - acc: 0.3522
Epoch 87/120
 - 12s - loss: 2.0273 - acc: 0.3518
Epoch 88/120
 - 11s - loss: 2.0248 - acc: 0.3534
Epoch 89/120
 - 11s - loss: 2.0215 - acc: 0.3535
Epoch 90/120
 - 11s - loss: 2.0160 - acc: 0.3554
Epoch 91/120
 - 11s - loss: 2.0152 - acc: 0.3542
Epoch 92/120
 - 11s - loss: 2.0126 - acc: 0.3550
Epoch 93/120
 - 11s - loss: 2.0054 - acc: 0.3565
Epoch 94/120
 - 11s - loss: 2.0058 - acc: 0.3578
Epoch 95/120
 - 11s - loss: 2.0038 - acc: 0.3589
Epoch 96/120
 - 11s - loss: 1.9994 - acc: 0.3578
Epoch 97/120
 - 11s - loss: 1.9962 - acc: 0.3600
Epoch 98/120
 - 11s - loss: 1.9937 - acc: 0.3609
Epoch 99/120
 - 11s - loss: 1.9919 - acc: 0.3587
Epoch 100/120
 - 11s - loss: 1.9895 - acc: 0.3598
Epoch 101/120
 - 11s - loss: 1.9858 - acc: 0.3632
Epoch 102/120
 - 11s - loss: 1.9840 - acc: 0.3626
Epoch 103/120
 - 11s - loss: 1.9805 - acc: 0.3636
Epoch 104/120
 - 11s - loss: 1.9799 - acc: 0.3642
Epoch 105/120
 - 11s - loss: 1.9782 - acc: 0.3626
Epoch 106/120
 - 11s - loss: 1.9727 - acc: 0.3657
Epoch 107/120
 - 11s - loss: 1.9697 - acc: 0.3653
Epoch 108/120
 - 11s - loss: 1.9679 - acc: 0.3681
Epoch 109/120
 - 11s - loss: 1.9665 - acc: 0.3682
Epoch 110/120
 - 11s - loss: 1.9639 - acc: 0.3686
Epoch 111/120
 - 11s - loss: 1.9592 - acc: 0.3722
Epoch 112/120
 - 12s - loss: 1.9603 - acc: 0.3706
Epoch 113/120
 - 15s - loss: 1.9538 - acc: 0.3719
Epoch 114/120
 - 12s - loss: 1.9551 - acc: 0.3696
Epoch 115/120
 - 11s - loss: 1.9515 - acc: 0.3724
Epoch 116/120
 - 11s - loss: 1.9456 - acc: 0.3739
Epoch 117/120
 - 11s - loss: 1.9488 - acc: 0.3713
Epoch 118/120
 - 11s - loss: 1.9434 - acc: 0.3730
Epoch 119/120
 - 11s - loss: 1.9439 - acc: 0.3750
Epoch 120/120
 - 11s - loss: 1.9390 - acc: 0.3754

In [48]:
# Looking at first 5 predictions

predictions = model.predict_classes(X_test[:5])

for x in range(5):
    print(f"Predicted Label: {predictions[x]} | Actual Label: {np.argmax(y_test[x])}")

Predicted Label: 3 | Actual Label: 17
Predicted Label: 0 | Actual Label: 2
Predicted Label: 3 | Actual Label: 8
Predicted Label: 8 | Actual Label: 7
Predicted Label: 3 | Actual Label: 4

In [49]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test, verbose=2)
print(f"Loaded Model Neural Network - Loss: {model_loss}, Loaded Model Accuracy: {model_accuracy}")

Loaded Model Neural Network - Loss: 4.282653732221025, Loaded Model Accuracy: 0.1310998929178102

# Save the NN model

In [15]:
model.save("NeuralNetworkModels/LOS_model.h5")

In [ ]:
# To test a model, load the desired model and then run the cells below

# ENTER THE NAME OF THE DESIRED MODEL TO LOAD HERE
NNModel = "LabValueModel#1.h5"

from keras.models import load_model
first_model = load_model(f"NeuralNetworkModels/{NNModel}")

In [ ]:
model_loss, model_accuracy = first_model.evaluate(
    X_test_scaled, y_test, verbose=2)
print(f"Loaded Model Neural Network - Loss: {model_loss}, Loaded Model Accuracy: {model_accuracy}")

In [ ]:
# Insert Confusion Matrix

In [ ]:
# Insert AUROC